<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>sandbox</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container-wrap">
    <div id="map-wrap">    	
    	<textarea><%=docs %></textarea>    	
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script>
$(function(){
})
</script>
</body>
</html>
